*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
        --verde-agro: #119e8c;
        --verde-claro: #c2e2d8;
        --gris-texto: #4a4a4a;
        --borde: #009688;
        --gris: #6b7280;
        --blanco-puro: #ffffff;
        --texto-oscuro: #2c3e50;
        --fucsia-alerta: #d81b60;
        --azul-noche: #242a35;
        --radio: 18px;
        --sombra: 0 10px 35px rgba(0,0,0,0.08);
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background: var(--blanco-puro);
    color: var(--texto-oscuro);
    min-height: 100vh;
}
.login-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;      /*  centro mis datos */
    align-items: center;          /*  puso  mis datos en el centro de la pagina */
    padding: 40px 30px;
}
.login-card{
    /* width: 100%; */
    max-width: 780px;
    background: var(--blanco-puro);
    border: 1px solid var(--borde);
    border-radius: var( --radio);
    padding: 65px 70px 55px;
    box-shadow: 0 3px 15px var(--verde-agro);
}


/* bienvenido de nuevo y subtitulo*/
h1{
    text-align: center;
    font-size: 50px;
    line-height: 1.15;
    font-weight: 600;
    margin-bottom: 22px;
}
.subtitle{
    text-align: center;
    color: var(--gris);
    font-size: 30px;
    margin-bottom: 55px;
}

/* formulario  */

.form-group{
    margin-bottom: 25px;
}
.form-group label{
    display: block;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* correo y clave */

input{
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--borde);
    padding: 10px 3px;
    /* outline: none;
    background: transparent;
    transition: 0.3s; */
}
input::placeholder {
    color: var(--gris);    /* color a donde ay que diligencia datos  */
}

.password-container{
    position: relative;
}

.password-container input{
    position: absolute;
    background: transparent;
    cursor: pointer;
}

/* olvidastecontraseña */
/* 1 editamos margenes y lugares donde va ubicado */
.olvidaste-container{
    text-align: right;
    margin-top: 8px;
    margin-bottom: 40px;
}
/* 2 editamos texto como tal */
.olvidaste-container a{
    font-size: 15px;
    color: var(--borde);
    text-decoration: none;
}
.forgot-container a:hover {
    text-decoration: underline;
}
/* iniciar secion */
.login-button{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background: var(--verde-agro);
    color: var(--blanco-puro);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: o.3s;
}
.login-button:hover{
    background: var(--gris);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(62, 193, 164, 0.642);
    margin-bottom: 20px;
} 

/* ¿No tienes cuenta? */
.registro{
    text-align: center;
    margin-top: 20px;
    color: var(--azul-noche);
}
.registro a{
    color: var(--verde-agro);
    text-decoration: none;
}
.registro a:hover{
    text-decoration: underline;
}

/* resposive */
@media (max-width: 768px) {
    .login-card {
        padding: 45px 35px;
    }
    .logo img {
        width: 280px;
    }
    h1 {
        font-size: 40px;
    }
    .subtitle {
        font-size: 17px;
    }
}


